<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <div>{{ content }}</div>

    <div class="navigation">
        {% assign previous = site.units | where: "lesson", page.lesson | previous %}
        {% assign next = site.units | where: "lesson", page.lesson | next %}
        
        {% if previous %}
            <a href="{{ previous.url }}">Previous: {{ previous.title }}</a>
        {% endif %}
        {% if next %}
            <a href="{{ next.url }}">Next: {{ next.title }}</a>
        {% endif %}
    </div>
</body>
</html>
